@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --primary-color: #0D9488;
    --header-text: #1e293b;
    --section-color: #f1f5f9;
    --footer-color: #9ca3af;
    --footer-name-color: #115e59;
}

hr{
    margin: 1.5rem 0rem;
}

.hr-projects{
    max-width: 800px;
    margin: 3rem auto 0rem auto;

}

.tabspace{
    margin-left: 40px;
}

.rightalign{
    max-width: 0.1rem;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0rem;
}

.bold-text{
    font-weight: 700;
}

/* Containers */

.container{
    padding: 1rem 1rem;
    padding-bottom: 2rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
    text-align: justify;
}

.container-center h3{
    padding-bottom: 1rem;
}

.container .link{
    padding: 0rem 0rem;
}

#container-experiences hr{
    max-width: 10rem;
}

#container-experiences h3{
    padding-bottom: 1rem;
}

/* Links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--primary-color)
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color)
}

/* Lists */

.list-style-empty{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 1rem;
}

.list-style-circle{
    list-style-type: circle;
}

/* Navigation */

.navigation{
    background-color: var(--primary-color);
    border-radius: 0rem 0rem 1rem 1rem;
    padding: 1rem 1rem;
    color: white;
}

.navigation-head{
    font-weight: lighter;
    font-size: 2.2rem;
    text-align: center;
    padding-top: 1rem;   
}

.navigation ul{
    padding-top: 1rem;
    text-align: center;
    padding-inline-start: 0rem;
}

.navigation li{
    color: white;
    display: inline;
    padding: 0rem 0.3rem;

}

.navigation .link{
    color: white;
}

.navigation-active{
    font-weight: bold;
}

#navigation-blogs{
    margin-bottom: 4rem;
}

/* Header */
.header{
    text-align: center;
    font-weight: bolder;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.header div{
    color: var(--header-text)
}

.header span{
    color: var(--header-text);
}

.header-image{
    max-width: 400px;
    display: block;
    margin: auto;
}

.header-projects{
    padding-top: 3rem;

}

.header-projects h1{
    font-weight: normal;
    font-size: 2rem;
}


/* Sections */

.section{
    text-align: center;
    padding: 3rem 0rem;
}

.section p{
    text-align: left;
    max-width: 600px;
    margin: auto;
}

.section-offwhite{
    background-color: var(--section-color);
    max-width: 800px;
    margin: auto;
}

.section span{
    color: var(--primary-color);
}

.section p{
    text-align: center;
    padding-bottom: 1.5rem;
}

.section-projects{
    padding-top: 0rem;
}

.section-blogs h1{
    font-weight: normal;
    font-size: 2rem;
    color: var(--primary-color);
    margin: auto auto 0rem auto;
    max-width: 400px;
}

.section-blogs span{
    color: var(--header-text);
}

.section-blogs{
    text-align: center;
    padding: 2rem 0rem 2.5rem 0rem;
}

.section-blogs p{
    text-align: left;
    max-width: 600px;
    margin: auto;
    padding: 1.5rem 0rem;
}


/* Footer */
footer{
    background-color: var(--footer-color);
    padding: 1rem 1rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    text-align: center;
}

.footer-lines{
    color: black;
}

.footer a{
    color: var(--primary-color);
}

.footer-text{
    font-weight: lighter;
    font-size: 0.8rem;
    color: white;
}


.footer-head{
    font-size: 1rem;
    color: black;
}

footer .list-style-empty{
    padding-inline-start: 0px;
}

.footer-name{
    color: var(--footer-name-color);
    font-weight: lighter;
}

footer .list-inline{
    padding: 0rem 0rem;
}

.footer-projects{
    margin-top: 3rem;
}